<!DOCTYPE html>
<html>
<body>
<pre>
ERROR_PATTERNS_REGEXP=&apos;<%= @error_patterns_regexp_cdata -%>&apos;
LOG_FILE=&apos;/tmp/process.log&apos;
# the shell retry logic follows.
<%= @shell_command_cdata -%>
</pre>
</body>
</html>
