<hudson>
<useSecurity>true</useSecurity>
  <slaveAgentPort>9090</slaveAgentPort>
  <securityRealm class="org.jenkinsci.plugins.reverse_proxy_auth.ReverseProxySecurityRealm" plugin="reverse-proxy-auth-plugin@1.4.0">
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearch>uid={0}</userSearch>
    <updateInterval>15</updateInterval>
    <forwardedUser>ADFS_LOGIN</forwardedUser>
    <headerGroups>ADFS_GROUP</headerGroups>
    <headerGroupsDelimiter>;</headerGroupsDelimiter>
    <proxyTemplate/>
    <authContext/>
    <authorityUpdateCache/>
    <userSearchBase/>
  </securityRealm>
</hudson>  
